.contenedor-slidecards{
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 20px 20px 0px white;
  padding-left: 220px;
  padding-right: 220px;
}

.contenedor-slidecards .swiper-wrapper{
  height: 350px;
}
.contenedor-slidecards .swiper-slide {
  width: 200px !important;
  height: 300px !important;
}

.contenedor-slidecards .swiper-slide img{
  width: 70%;
}